AWSTemplateFormatVersion: "2010-09-09"
Description: "SNS topic with one or more subscribing SQS queues"

Parameters:
  TopicArn:
    Type: String

Resources:
  {% for name in sceptre_user_data.Queues %}
  Queue{{ name }}:
    Type: AWS::SQS::Queue
    Properties:
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt Queue{{ name }}DLQ.Arn
        maxReceiveCount: 2

  Queue{{ name }}DLQ:
    Type: AWS::SQS::Queue

  Queue{{ name }}Subscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt Queue{{ name }}.Arn
      Protocol: sqs
      TopicArn: !Ref TopicArn
  {% endfor %}

  QueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        {% for name in sceptre_user_data.Queues %}
        - !Ref Queue{{ name }}
        {% endfor %}
      PolicyDocument:
        Version: "2012-10-17"
        Id: "SnsQueuePolicyDocument"
        Statement:
          - Sid: "1"
            Effect: "Allow"
            Principal: "*"
            Action:
              - "sqs:SendMessage"
            Resource: "*"
            Condition:
              ArnEquals:
                aws:SourceArn:
                  Ref: TopicArn

Outputs:
  {% for name in sceptre_user_data.Queues %}
  Queue{{ name }}:
    Value: !Ref Queue{{ name }}
  {% endfor %}
